 body{
        background-color: rgb(58, 74, 167);
    }
    h1{
        background-color: rgb(60, 16, 218);
        color: rgb(255, 231, 10);
    }
    h2{
        background-color: rgb(62, 18, 221);
        color: rgb(255, 231, 10);
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    p{
        background-color: rgb(183, 0, 255);
        color:rgb(255, 255, 255);

    }
    ul{
        color: white;
    }
    ol{
        color: white;
    }
